{% extends "base.html" %}

{% block title %}
    Cash - add record
{% endblock %}

{% block header %}
    Cash - add record
{% endblock %}


{% block content %}
    <form action="{% url 'cashs:add' %}" method="post">
    {% csrf_token %}
    <table>
        {% for account, bal in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.curr}}</td>
                <td><input type="number" name="ac_{{ account.id}}" value="{{ bal }}" step="any"></td>
            </tr>
        {% empty %}
            <tr>
                <td>No account is available.</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <input type="date" name="date" style="float:right">
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Save" style="float:right">
            </td>
        </tr>
    </table> 

{% endblock %}


{% block actions %}
    <a href="{% url 'dashboard:home' %}"><button>Home</button></a>
{% endblock%}
