{% extends "base.html" %}

{% block title %}
    Stocks - InOut
{% endblock %}

{% block header %}
    Stocks - InOut
{% endblock %}


{% block content %}
    <table class="table table-bordered">
        <tr><td>date</td><td>stock</td><td>price</td><td>unit</td><td>value</td></tr>
        {% for rec, stock, worth in data %}
        <tr>
            <td>{{rec.date|date:"Y-m-d"}}</td>
            <td><a href="{% url "stocks:add_inout" stock.id  %}">{{stock.name}}</a></td>
            <td style="text-align:right">{{rec.price}}</td>
            <td style="text-align:right">{{rec.unit}}</td>
            <td style="text-align:right">{{worth|floatformat:4}}</td>
        </tr>
    {% empty %}
        <tr><td>NO DATA</td></tr>
    {% endfor %}

    </table>
{% endblock %}


{% block actions %}
    <a href="{% url 'stocks:add_inout' %}"><button>Add</button></a>

    <a href="{% url 'dashboard:home' %}"><button>Home</button></a>
    {% comment %} <input type="button" value="back" style="" onclick="history.back()"> {% endcomment %}
{% endblock%}
