{% extends "base.html" %}

{% block title %}
  Accounts - details
{% endblock %}

{% block header %}
    {% if data %}
        Stocks - details : {{ data.name }}
    {% else %}
        Stocks - Create
    {% endif %}
{% endblock %}

{% block html_head %}
<style>
    th {
        text-align: left;
        background-color : #d4d4d4;
        width: 75px;
        display: inline-block;
    }
</style>
{% endblock %}

{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if data %}
        <form action="{% url 'stocks:view_stock' data.id %}" method="post">
    {% else %}
        <form action="{% url 'stocks:view_stock' %}" method="post">
    {% endif %}

    {% csrf_token %}
    <table>
    {% for field in form %}
        <tr>
            <th>{{field.label_tag}}</th>
            <td>{{field}}</td>
        </tr>
    {% endfor %}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Save" style="float:right">
            </td>
        </tr>
    </table>
    </form>
{% endblock %}


{% block actions %}
    {% if data %}
        <a href="{% url 'stocks:add_inout' data.id %}"><button>Add InOut</button></a>
        <hr>
    {% endif %}
    <a href="{% url 'stocks:stocks' %}"><button>Back</button></a>
    <a href="{% url 'dashboard:home' %}"><button>Home</button></a>
{% endblock%}

