{% extends "base.html" %}

{% block title %}
  Accounts - details
{% endblock %}

{% block header %}
    {% if data %}
        Accounts - details : {{ data.name }}
    {% else %}
        Accounts - Create
    {% endif %}
{% endblock %}


{% block content %}
    {% if data %}
        <form action="{% url 'accounts:details' data.id %}" method="post">
    {% else %}
        <form action="{% url 'accounts:add' %}" method="post">
    {% endif %}

    {% csrf_token %}
    <table>
    {% for field in form %}
        <tr>
            <td>{{field.label_tag}}</td>
            <td>{{field}}</td>
        </tr>
    {% endfor %}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Save" style="float:right">
            </td>
        </tr>
    </table>

{% endblock %}


{% block actions %}
    <input type="button" value="back" style="" onclick="history.back()">
    <a href="{% url 'dashboard:home' %}"><button>Home</button></a>
{% endblock%}

