<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
            border: 1px solid black;
          }
    </style>
</head>
<body>
    <h1>Accounts</h1>
    <hr>
    <table>
        {% if all_account %}
            {% for x in all_account %}
            <tr>
                <td>{{ x.location }}</td>
                <td>{{ x.provider }}</td>
                <td>{{ x.curr }}</td>
                <td><a href="{% url 'accounts:details' x.id %}">{{ x.name }}</a></td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td>No reocrd</td><tr>
        {% endif %}
    </table>
    <hr>
    <a href="{% url 'accounts:add' %}"><button>Add</button></a>
</body>
</html>