{% extends "base.html" %}

{% block title %}
  FIN-APP
{% endblock %}

{% block header %}
  FIN-APP
{% endblock %}


{% block content %}
    <ul>
        <li>ACCOUNT
          <ul>
            <li><a href="{% url "accounts:all" %}">accounts</a></li>
          </ul>
        </li>
        <li>CASH
          <ul>
            <li><a href="{% url "cashs:add" %}">add_cash_record</a></li>
          </ul>
        </li>
        <li>CURRENCY
          <ul>
            <li><a href="{% url "currencies:add" %}">add_currency_record</a></li>
          </ul>
        </li>
        <li>STOCK
          <ul>
            <li><a href="{% url "stocks:stocks" %}">stocks</a></li>
          </ul>
          <ul>
            <li><a href="{% url "stocks:inouts" %}">stock_in_out</a></li>
          </ul>
        </li>
        <li>SUMMARY
          <ul>
            <li><a href="{% url "dashboard:monthly_cash" %}">monthly_cash</a></li>
          </ul>
        </li>
        <li>Utility
          <ul>
            <li><a href="{% url "dashboard:testing" %}">testing</a></li>
          </ul>
          <ul>
            <li><a href="{% url "accounts:load" %}">load_accounts</a></li>
          </ul>
          <ul>
            <li><a href="{% url "cashs:load" %}">load_cashs</a></li>
          </ul>
        </li>
    </ul>
{% endblock %}


{% block actions %}
    {% comment %} <a href="{% url 'dashboard:home' %}"><button>Home</button></a> {% endcomment %}
{% endblock%}
